<px-deck context="{{context}}">
	<my-facility-bom-master-btn-card id="unit-btn" title=""></my-facility-bom-master-btn-card>
	<my-facility-bom-master-tree-card id="unit_search" title="설비 Master - Unit 트리맵"></my-facility-bom-master-tree-card>
	<my-facility-bom-master-list-card id="unit_add" title="설비 Master 목록"></my-facility-bom-master-list-card>
	<my-facility-bom-unit-baseinfo-card id="unit_all" title="설비 Unit 기본 정보 목록"></my-facility-bom-unit-baseinfo-card>
	<my-facility-bom-unit-insert-card id="unit_insert" title="설비 Unit 입력"></my-facility-bom-unit-insert-card>
</px-deck>