<px-deck context="{{context}}">
<div>
  <div>
    <inquiry-btn-card id="inquiry-btn-card" title="에너지 배분 기준"></inquiry-btn-card>
    <energy-dist-quiry-card id="quiry-card"></energy-dist-quiry-card>
  </div>
  <div style="max-width:1800px;">
  <div style="float:left;width:40%;min-width:500px;height:100%;">
    <my-tree-card id="energy-tree"></my-tree-card>
  </div>
  <div style="width:59%;float:left;background:white;margin:0 0.5% 0 0.5%;">
    <energy-distribution-tabs id='energy-distribution-tabs'></energy-distribution-tabs>
  </div>
  </div>
</div>
</px-deck>
