<px-deck context="{{context}}">
<my-evaluation-energy-inquiry-card id="evaluationenergy_inquiry" title="에너지 성과평가"></my-evaluation-energy-inquiry-card>
<my-evaluation-energy-model-grid-card id="evaluationenergy_model_grid" title="베이스라인 모델"></my-evaluation-energy-model-grid-card>
<my-evaluation-energy-grid-card id="evaluationenergy_grid" title="에너지 성과평가 결과"></my-evaluation-energy-grid-card>
<my-evaluation-energy-graph-card id="evaluationenergy_graph" title="에너지 성과평가 그래프"></my-evaluation-energy-graph-card>
</px-deck>
