<px-deck context="{{context}}">
<my-energy-variable-manage-inquiry-card id="variable_inquiry" title="베이스라인 모델 수립"></my-energy-variable-manage-inquiry-card>
	<my-energy-variable-select-grid-card id="variable_select" title="변수선택"></my-energy-variable-select-grid-card>
	<my-energy-variable-model-generator-card id="model_generate" title="모델산정"></my-energy-variable-model-generator-card>
	<my-energy-variable-model-choose-card id="model_choose" title="모델확정"></my-energy-variable-model-choose-card>
	<my-energy-variable-model-info-card id="model_info" title="모델정보"></my-energy-variable-model-info-card>
</px-deck>


