<link rel="import" href="../bower_components/px-sample-cards/demo-card.html"/>
<link rel="import" href="../bower_components/px-sample-cards/gist-card.html"/>
<link rel="import" href="../bower_components/px-sample-cards/sample-card2.html"/>
<link rel="import" href="../bower_components/px-sample-cards/card-to-card.html"/>
<link rel="import" href="../bower_components/px-sample-cards/widget-to-widget-card.html"/>
<link rel="import" href="../bower_components/px-sample-cards/widgets-card.html"/>

<px-deck id="first" context="{{context}}">

	<div class="layout layout--center">
		<div class="la u-1/2">
			<div class="layout__item">
				<demo-card id="kimh-demo"></demo-card>
			</div>
			<div class="layout__item">
				<gist-card id="kimh-gist"></gist-card>
			</div>
		</div>
		<div class="layout__item">
			<sample-card2 id="kimh-sample"></sample-card2>
		</div>
		<div class="layout__item">
			<card-to-card id="kimh-cardtocard"></card-to-card>
		</div>
		<div class="layout__item">
			<widget-to-widget-card id="kimh-wtw"></widget-to-widget-card>
		</div>
		<div class="layout__item layout__item--center">
			<widgets-card id="kimh-widgets"></widgets-card>	
		</div>
		
	</div>
</px-deck>

