<px-deck context="{{context}}">
  <div>
    <energy-var-register-quiry-card id="energy-variable"  title="에너지 관련 변수 실적 등록"></energy-var-register-quiry-card>
    <span style="float:left;width:53%;margin:0 0.5% 0 0.5%;">
      <energy-var-register-table-left id="energy-vatiable-left-table"></energy-var-register-table-left>
    </span>
    <span style="float:left;width:45%;margin:0 0.5% 0 0.5%;">
      <energy-var-register-table-right id="energy-vatiable-right-table"></energy-var-register-table-right>
    </span>
  </div>
</px-deck>
